/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 feb 2026, 4:09:09 p. m.
    Author     : kevin
*/

.Login-bg {
    
    -fx-background-color:linear-gradient(to bottom right,#141E30,#243B55 );
    
}